<!DOCTYPE html>
<html>
	<head>
		{% include "ga.html" %}
		<link rel="stylesheet" href="/styles/redirect.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" />
		<title>Update</title>
	</head>
	<body onload="setVisibleSection()">
		<div class="box">
			<h1>There's been an update!</h1>
			<hr>
			<div id="web-app" hidden>
				<p>Unfortunately, this means that you will have to update this app.</p>
				<p>First, go to
				<a href="https://bellcountdown.appspot.com/">bellcountdown.appspot.com</a>
				, choose your schedule, then add it to your homescreen.<p>
				<p>Then, you can delete this version of the app from your homescreen.</p>
			</div>
			<div id="browser" hidden>
				<p>This link no longer works.</p>
				<p>Please go back <a href="/ ">home</a> and choose a schedule</p>
			</div>
		</div>
	</body>

	<script>
		function setVisibleSection() {
			if (window.navigator.standalone) {
				document.getElementById('web-app').hidden = false
			} else {
				document.getElementById('browser').hidden = false
			}
		}
	</script>
</html>
