<!DOCTYPE html>
<html lang="en">
<head>
	{% include "ga.html" %}
	<meta charset="UTF-8">
	<meta name="description" content="Countdown to the bell at Jupiter High School">
	<meta name="keywords" content="Bell, Countdown, App, Jupiter High School, Bell Schedule">
	<meta name="author" content="Noskcaj">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Bell Countdown</title>
	<link href="/styles/welcome.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="box">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div id="error-container">
		<div id="error">
			<p id="error-text"> {{ messages[0] }}</p>
		</div>
	</div>
	{% endif %}
	{% endwith %}
	
	<h1 id="welcome-title" class="title">Bell Countdown</h1>

	<div id="schedule-links">
		<p id="question">Which lunch do you have?</p>
		<a class="schedule-link" href="/schedule/a">Lunch A</a>
		<a class="schedule-link" href="/schedule/b">Lunch B</a>
	</div>
	<hr id="offset-separator">
	<p id="second-offset-container">Second offset: <span id="second-offset">{{ second_offset }}</span></p>
</div>

</body>
</html>
