<!DOCTYPE html>
<html lang="en">
<head>
	{% include "ga.html" %}
    <meta charset="UTF-8">
    <meta name="description" content="Countdown to the bell at Jupiter High School">
	<meta name="keywords" content="Bell, Countdown, App, Jupiter High School, Bell Schedule">
	<meta name="author" content="Noskcaj">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bell Countdown</title>
    <link href="/styles/welcome.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="box">
    {% if development %}
        <div class="welcome-box">
            <h1 id="welcome-title" class="title">Bell Countdown - Beta</h1>
            <div id="beta-warning-container">
                <p id="beta-warning">
                    This is beta, and so it is likely to have issues.<br>
                    If you find some bugs, let me know <a class="github-link" href="https://github.com/Noskcaj19/bellcountdown/blob/master/README.md">here</a>.<br>
                    If you just want a stable site head over <a class="github-link" href="https://bellcountdown.appspot.com">here</a>.
                </p>
            </div>
        </div>
        <hr>
    {% else %}
        <h1 id="welcome-title" class="title">Bell Countdown</h1>
    {% endif %}

    <div id="schedule-links">
        <p id="question">Which lunch do you have?</p>
                <p style="padding-top: .5em;" id="temp-notice">These schedules will be removed soon</p>

        <a class="schedule-link" href="/schedule/a">Lunch A</a>
        <a class="schedule-link" href="/schedule/b">Lunch B</a>
    </div>
</div>

</body>
</html>